body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form {
    border: 5px solid #f1f1f1;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    height: 40%;
    box-shadow: 0 0 grey;
    display: inline-block;
    margin: 10% 0 0;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 20px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #00BFFF;
    font-size: 16px;
    color: white;
    padding: 20px 20px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

h1{
    line-height: 5;
    font-size: 20px;
    font-family: "Lucida Console", sans-serif;
    font-weight: normal;
}

h3{
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

h4{
    line-height: 0;
    margin: 0 0 40px;
    font-size: 12px;
    font-weight: normal;
}