body {
    margin : 0 15% 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

#reviewpage {
    height: 1000px;
    background-color: white;
    padding: 15% 5% 2%;
    position: relative;
}

#backbutton {
    font-size:xx-large;
    color: rgb(0,178,190);
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 2%;
    float: none;
}
#movie-title {
    font-size:x-large;
    font-weight: bold;
}
#review {
    position:absolute;
    width: 64%;
    right: 18%;
    height: 17%;
    top: 25%;
    font-weight:bold;
}
.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#reviewinput {
    height: 100px;
    width: 500px;
    float: left;
}
#reviewmethod {
    float: left;
}
h1 {
    font-size : large;
}
#userinput {
    height: 100%;
    width: 75%;
    float: right;
}
button {
    margin-right: 3px;
    margin-top: 10px;
    float: right;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#cancel {
    border: lightgray;
    border-style: solid;
    color: grey;
    background-color: white;
}
#submit {
    border-style: solid;
    border: rgb(0,178,190);
    background-color: rgb(0,178,190);
    color: white;
}